/*import*/
@import "compass";

/*fonctions*/
$colums: 12!default;
$pading: 20px!default;
$medium: 640px;
$large: 1040px;

/*ireal règle*/
	%col{
		float: left;
		position: relative;
		min-height: 1px;
		padding: 0 $pading * 0.5;
		/*DEV*/
		background-color: yellow;
		border: 1px solid green;
	}

/*Fix Box*/
* {@include box-sizing(border-box);}
body{margin :0px ;padding: 0px;}

/*Genrate class % grid*/
@for $i from 1 through $colums{
	.col-#{$i}{
		@extend %col;
		width: $i / $colums * 100%};

	.col-m-#{i}, .col-l-#{i} {@extend %col;}
}

/*Size screen*/


@media only screen and (min-width: $medium) {
	@for $i from 1 through $colums{
		.col-m-#{$i}{
			width: $i / $colums * 100%};
	}
}


@media only screen and (min-width: $large) {
	@for $i from 1 through $colums{
		.col-l-#{$i}{
			width: $i / $colums * 100%};
	}
}